<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd">



	<bean id="messageTopicListenerConnectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="jmsFactory" />
		<!-- <property name="exceptionListener" ref="jmsExceptionListener" /> -->
		<property name="sessionCacheSize" value="100" />
		<property name="clientId" value="clientId_message" />
	</bean>

	
	<bean id="messageSendListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="messageTopicListenerConnectionFactory" />
		<property name="destination" ref="messageDestination" />
		<property name="pubSubDomain" value="true" />
		<property name="sessionTransacted" value="true" />
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
		<property name="messageListener" ref="messageSendListener" />
		<property name="subscriptionDurable" value="true" />
		<property name="durableSubscriptionName" value="message_send" />
		<property name="messageSelector" value="type='sendMessage'"></property>
	</bean>
	
	<bean id="messageLogListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="messageTopicListenerConnectionFactory" />
		<property name="destination" ref="messageDestination" />
		<property name="pubSubDomain" value="true" />
		<property name="sessionTransacted" value="true" />
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
		<property name="messageListener" ref="messageLogListener" />
		<property name="subscriptionDurable" value="true" />
		<property name="durableSubscriptionName" value="message_log" />
		<property name="messageSelector" value="type='logMessage'"></property>
	</bean>
	
	<bean id="messageCallInListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="messageTopicListenerConnectionFactory" />
		<property name="destination" ref="customerDestination" />
		<property name="pubSubDomain" value="true" />
		<property name="sessionTransacted" value="true" />
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
		<property name="messageListener" ref="autoSendListener" />
		<property name="subscriptionDurable" value="true" />
		<property name="durableSubscriptionName" value="message_callIn" />
		<property name="messageSelector" value="type='callIn'"></property>
	</bean>
</beans>