<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd">


	<bean id="customerTopicListenerConnectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="jmsFactory" />
		<!-- <property name="exceptionListener" ref="jmsExceptionListener" /> -->
		<property name="sessionCacheSize" value="100" />
		<property name="clientId" value="clientId_customer" />
	</bean>

	<bean id="customerImportListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="customerTopicListenerConnectionFactory" />
		<property name="destination" ref="customerDestination" />
		<property name="pubSubDomain" value="true" />
		<property name="sessionTransacted" value="true" />
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
		<property name="messageListener" ref="customerImportMessageListener" />
		<property name="subscriptionDurable" value="true" />
		<property name="durableSubscriptionName" value="customer_import" />
		<property name="messageSelector" value="type='importCustomer'"></property>
	</bean>
	
	<bean id="customerRemindImportListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="customerTopicListenerConnectionFactory" />
		<property name="destination" ref="customerDestination" />
		<property name="pubSubDomain" value="true" />
		<property name="sessionTransacted" value="true" />
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
		<property name="messageListener" ref="customerRemindImportMessageListener" />
		<property name="subscriptionDurable" value="true" />
		<property name="durableSubscriptionName" value="customer_remind_import" />
		<property name="messageSelector" value="type='importCustomerRemind'"></property>
	</bean>
</beans>